body{
        border: 0cm;
    margin: 0px;
}
.main-button{
    align-self:center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;
}
.main-pop-top{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
min-height: 500px;

}
.main-img-pop{
    background-color: #ffffff;
    justify-self:center;
    align-self:center ;
    width: 50%;
    border-radius:15px;
    height: fr;
}

.main-info-pop{
    width: 35%;
    margin-top: 1%;
    overflow: auto;
}