
body{
    border: 0cm;
    margin: 0px;
    background-color:  #fdf8f5;
}


.Login{
    background-color:  #fdf8f5;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 1000px;
}
.login-pop{
    color: #f2f9f9 ;
    background-color: #3d4346;;
    margin: 10%;
    align-self: center;
    border-radius: 7px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.672);
    
}



.login-button-err{
    align-self: center;
    border-radius: 7px;
    background-color: rgba(252, 2, 2, 0.833);
    color: beige;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}

.login-input-err{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid rgba(252, 2, 2, 0.833);
    width: 400px;
    height: 40px;
}
.login-input{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #fedc47
    ;
    width: 400px;
    height: 40px;
}

.login-button{
    align-self: center;
    color: #3d4346;
    border-radius: 7px;
    background-color: #fedc47;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}


/* 

.login{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: hr;
    
}

.login-pop{
    border-radius: 7px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    background-color: #F06073 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.672);
}
.login-button,.back{
    margin: 5px;
    border-radius: 7px;
    background-color: #48F0CA;
    border: 0px;
    width: 350px;
    height: 40px;
}

.back{
    width: 150px;
    background-color: #E554F0;
}

.login-input{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 0px;
    width: 400px;
    height: 40px;
}


.login-P{
    border-radius: 7px;
    text-align: center;
    width: 350px;
    height: 70px;
}
 */
