
/* #f2f9f9
#2c3139
#b55133
#eda746 */

body{
    border: 0cm;
    margin: 0px;
}


.Home{
    background-color:  #f2f9f9;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
}
.home-pop{
    color: #f2f9f9 ;
    background-color: #2c3139;
    margin: 3%;
    border-radius: 7px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.76);
text-align: center;
padding: 15px 5px;
font-size: 30px;
height: fr;
width: fr;
margin-left: 30px;
font-size: medium;
    
}




.home-button-err{
    border-radius: 7px;
    background-color: rgba(252, 2, 2, 0.833);
    color: beige;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}

.home-input-err{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid rgba(252, 2, 2, 0.833);
    width: 400px;
    height: 40px;
}
.home-input{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #b55133
    ;
    width: 400px;
    height: 40px;
}

.home-button{
    border-radius: 7px;
    background-color: #eda746;
    margin: 5px;
    border: 0px;
    width: 70%;
    height: 40px;
}
.home-p{
    color:#b55133 ;
}

.home-p:hover{
    cursor: pointer;
    font-size: large;
    opacity: 95%;
}


/* 

.login{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: hr;
    
}

.login-pop{
    border-radius: 7px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    background-color: #F06073 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.672);
}
.login-button,.back{
    margin: 5px;
    border-radius: 7px;
    background-color: #48F0CA;
    border: 0px;
    width: 350px;
    height: 40px;
}

.back{
    width: 150px;
    background-color: #E554F0;
}

.login-input{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 0px;
    width: 400px;
    height: 40px;
}


.login-P{
    border-radius: 7px;
    text-align: center;
    width: 350px;
    height: 70px;
}
 */
