
body{
    border: 0cm;
    margin: 0px;
}

.Home{
    background-color: #fdf8f5;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
}


.home-button{
    align-self:center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;
}
.home-p{
    text-decoration: none;
    color:#1a90cf ;
}

.home-p:hover{
    cursor: pointer;
    font-size: large;
    opacity: 95%;
}

