
body{
    border: 0cm;
    margin: 0px;
    background-color: #fdf8f5;
}

.User{
    background-color: #fdf8f5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
min-height: 1000px;
    
}

.user-pop{
    align-self: center;
    background-color: #fdf8f5;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
}
.user-pop-update{
    width: 500px;
    align-self: center;
    background-color: #fdf8f5;
    display: flex;
    flex-direction: column;

border-radius: 7px;
}
.user-pop-top{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

@media (max-width: 768px){
    .user-pop-top{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }
}

.user-button{
    align-self:center;
    border-radius: 7px;
    width: 350px;
    height: 40px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;
}

.info-pop{
    width: 60%;
    margin-top: 1%;
    overflow: auto;
    justify-self:center;
    align-self:center ;
    height: fr;
}
.user-p{
    font-family:sans-serif;
    font-weight: 600;
    font-size: larger;
    margin-left: 30%;
}


.img-pop{
    justify-self:center;
    align-self:center ;
    width: 50%;
    border-radius:15px;
    border: 1px solid black;
}

.image-button{
    align-self:center;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;
}

.image-pop{
    color:#fdf8f5 ;
    align-self: center;
    background-color: #3d4346;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
margin: 5px;
}