
body{
    border: 0cm;
    margin: 0px;
}

.User{
    background-color: #fdf8f5;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: hr;
}

.user-pop{
    align-self: center;
    background-color: #fdf8f5;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
}
.user-pop-top{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.user-button{
    align-self:center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;
}
.user-p{
    text-decoration: none;
    color:#1a90cf ;
}

.info-pop{
    width: 60%;
    margin-top: 1%;
    overflow: auto;
}
p{
    margin-left: 30%;
}

.user-p:hover{
    cursor: pointer;
    font-size: large;
    opacity: 95%;
}

.img-pop{
    justify-self:center;
    align-self:center ;
    width: 30%;
    border-radius:15px;
    border: 1px solid black;
}
