


.Item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-self: center;
    min-height: 1500px
    ;
}


.item-input{
    border-radius: 7px;
    width: 200px;
    height: 40px;
    margin: 5px;
}

.item-button{
    align-self: center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: black;
    color: beige;
    margin: 5px;

} 


.item-cared{
    margin: 10px;
}

.item-button-delete{
    align-self: center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: black;
    color: beige;
    margin: 5px;

}

.itme-info-pop{
    width: 35%;
    margin-top: 1%;
    overflow: auto;
}
.itme-pop{
    align-self: center;
    background-color: #fdf8f5;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
}
.item-pop-top{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}
.itme-img-pop{
    justify-self:center;
    align-self:center ;
    width: 50%;
    border-radius:15px;
    border: 1px solid black;
    height: fr;
}


.Item{
    height: fr;
    display: flex;
    justify-content:space-between;
    ;
}


.item-input{
    border-radius: 7px;
    width: 200px;
    height: 40px;
    margin: 5px;
}

.item-button{
    align-self:center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;

} 

.comment-button{
    align-self:center;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    background-color: #fedc47;
    color: #3d4346;
    margin: 5px;
    border:0.01px solid #3d4346;
}


.itme-p{
    margin: 20px;
    text-decoration: none;
    color:#1a90cf ;
}

.comment-pop{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
align-items: center;
    width: 100%;
    height: hr;
}


.comment-pop-in{
    flex-direction: row-reverse;
    justify-content: center;
    justify-content:space-evenly;
}

.mb-3{
    margin: 5px;
    width:50%;
    align-self: "center";
    
}
.comment-button{
    margin: 5px;
align-self: center;
}

.comment-p{
    margin: 0;
    margin-left: 5px;
    font-size: small;
}