body{
    color: #fdf8f5;
    border: 0cm;
    margin: 0px;
}
.Apps{
    background-color:  #fdf8f5;
    width: 100%;
}
.App{
    background-color:  #fdf8f5;
    width: 100%;
}


label{
    align-self: flex-start;
    margin: 5px;
}

button:hover{
    cursor: pointer;
    font-size: large;
    opacity: 95%;
}
