body{
    border: 0cm;
    margin: 0px;
}
.App{
    background-color:  #f2f9f9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fr;
}

label{
    align-self: flex-start;
    margin: 5px;
}