
body{
    border: 0cm;
    margin: 0px;
    background-color:  #fdf8f5;
}


.Register{
    background-color:  #fdf8f5;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.register-pop{
    color: #f2f9f9 ;
    background-color: #3d4346;;
    margin: 10%;
    align-self: center;
    border-radius: 7px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.672);
    
}



.register-button-err{
    border-radius: 7px;
    background-color: rgba(252, 2, 2, 0.833);
    color: beige;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}

.register-input-err{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid rgba(252, 2, 2, 0.833);
    width: 400px;
    height: 40px;
}
.register-input{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #b55133
    ;
    width: 400px;
    height: 40px;
}

.register-button{
    color: #3d4346;
    border-radius: 7px;
    background-color: #fedc47;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}

.msg{
    margin: 0px;
    font-size:x-small;
    text-justify: distribute;
}


.image-button-r{
    align-self:center;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    background-color: #3d4346;
    color: #fdf8f5;
    margin: 5px;
    border:0.01px solid #fedc47;
}

.image-pop-r{
    color: #3d4346 ;
    background-color: #fdf8f5;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 30px ;
padding: 30px 30px;
border-radius: 7px;
margin: 5px;
align-items: center;
}