body{
    border: 0cm;
    margin: 0px;
}


.AddItem{
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: hr;
}

.additem-input,.additem-selsct,.additem-textarea{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid black;
    width: 400px;
    height: 40px;
}
.additem-selsct{
    width: 200px;
    height: 40px;
}

.additem-textarea{
    height: 150px;
}

.additem-button{
    border-radius: 7px;
    background-color: black;
    color: beige;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}

.addItem-pop{
    border-radius: 7px;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-evenly;
align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.672);
}
