body{
    
    border: 0cm;
    margin: 0px;
}


.AddItem{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: hr;
}

.additem-selsct{
    color: black;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid black;
    width: 400px;
    height: 40px;
}
.additem-selsct{
    width: 200px;
    height: 40px;
}


.additem-button{
    border-radius: 7px;
    background-color: black;
    color: beige;
    margin: 5px;
    border: 0px;
    width: 350px;
    height: 40px;
}
